body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    overflow: hidden;
    background-color: #303030;
}

.navbar a{
   
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float:left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: orange;
    color: rgb(0, 0, 0);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #303030;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: orange;
}

.dropdown:hover .dropdown-content{
    display: block;
}