body {
    position: relative;
}

* {
    box-sizing: border-box;
}

.background {
    
    background-color: rgb(32, 31, 31);
    display: flex;
    height: 60vh;
}

.gallery {
    position: sticky;
    background-color: #303030;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
   

}

.card {
    background-color: white;
    width: 270px;
    height: 270px;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
}
  
.card:hover {
    transform: rotateY(0.5turn);
}
  
.card__side {
    background-color: white;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: auto;
    height: auto;
    transition: 1s ease-in-out;
}

.card__side--back {
    transform: rotateY(0.5turn);
    object-fit: contain;
}

.card__side > img {
    width: 270px;
    height: 270px;
    object-fit:cover;
}



.caption{
    color: black;
    text-align: center;
}